@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* font-family: 'Lato', sans-serif; */
}

.hero {
  background: url(../../public/images/hero-bg.svg) top center no-repeat;
  background-size: cover;
}

.footer {
  background: linear-gradient(rgb(255 255 255 / 33%),rgb(151 183 152 / 60%)),
  url(../../public/images/footer.svg) top center no-repeat;
  background-size: cover;
}

.cta {
  background: linear-gradient(rgb(2 2 2 / 22%),rgb(0 0 0 / 33%)),
  url(../../public/images/panels.png) top center no-repeat;
  background-size: cover;
}

.bannerAdd {
  background: linear-gradient(rgb(0 0 0 / 56%),rgb(0 0 0 / 80%)),
  url(../../public/images/panels.png) top center no-repeat;
  background-size: cover;
}

.aboutBanner {
  background: linear-gradient(rgba(1,1,1,.7),rgba(0,0,0,.6)),
  url(../../public/images/about-banner.png) top center no-repeat;
  background-size: cover;
}

.blog {
  background: linear-gradient(rgb(18 18 18 / 56%),rgb(28 28 28 / 51%)),
  url(../../public/images/blog-page-banner-final.png) top center no-repeat;
  background-size: cover;
}

